rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Regles per a la gestió del logo de l'empresa
    match /app-settings/logo {
      // Permet la lectura a qualsevol usuari (autenticat o no) per a mostrar el logo
      allow read;
      // Permet l'escriptura (pujada, actualització) només si l'usuari és un administrador
      allow write: if request.auth != null && get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    // Regles per als arxius adjunts de les accions de millora
    match /actions/{actionId}/{fileName} {
      // Permet la lectura si l'usuari està a la llista de 'readers' de l'acció
      allow read: if request.auth != null && resource.metadata.actionId == actionId && request.auth.token.email in get(/databases/(default)/documents/actions/$(resource.metadata.actionId)).data.readers;
      // Permet l'escriptura (pujada) si l'usuari està a la llista de 'authors' de l'acció
      allow write: if request.auth != null && request.resource.metadata.actionId == actionId && request.auth.token.email in get(/databases/(default)/documents/actions/$(request.resource.metadata.actionId)).data.authors;
    }
  }
}
