rules_version = '2';

// 1. All files in the storage are private by default.
// 2. Only authenticated users can access the storage.
// 3. For a granular file access control, we need to add a UID to the file metadata.
//
// service firebase.storage {
//   match /b/{bucket}/o {
//     match /users/{uid}/{allPaths=**} {
//       allow read: if request.auth.uid == uid;
//     }
//   }
// }
service firebase.storage {
  match /b/{bucket}/o {
    // Les imatges dels usuaris només les pot llegir i escriure el mateix usuari
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Els adjunts de les accions de millora només els poden escriure usuaris autenticats.
    // La lectura depèn de les regles de Firestore per a l'acció corresponent (no implementat aquí)
    match /actions/{actionId}/{allPaths=**} {
       allow read, write: if request.auth != null;
    }
  }
}
