rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permet la lectura pública de tots els fitxers.
    // Això és útil perquè les URLs dels fitxers adjunts siguin accessibles.
    // Considera restringir-ho si necessites més seguretat.
    match /{allPaths=**} {
      allow read;
    }

    // Regles específiques per a la pujada de fitxers d'accions
    match /actions/{actionId}/{fileName} {
      // Només un usuari autenticat pot pujar (escriure) un fitxer.
      // També comprovem que el fitxer no sigui massa gran (p.ex., < 5MB).
      allow write: if request.auth != null && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
